$white: #F3F4E4;
$white-hl: #FFFFF4;
$aqua: #097487;
$aqua-hl: #198497;
$brown: #B38235;
$orange: #DC3F1C;
$orange-hl: #EC4F2C;
$brown: #5B0400;
$indigo: #00515C;
$paleblue: #ACBCBD;
$black: #2B2129;
