@import 'global';

.hero {
    width: 100%;
    background: $paleblue;
    overflow: hidden;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;

    h1, p {
        color: $black;
        text-align: center;
    }
    h1 {
        font-size: 9vw;
        margin-top: 2vw;
    }
    h1:first-letter {
        font-size: 10vw;
    }
    p {
        margin-top: 0.3vw;
    }
}
.hero-close {
    height: 0;
    opacity: 0;
}
.hero-open {
    height: 17vw;
    opacity: 1;
}

.hero-collapse {
    text-align: center;

    .hero-collapse-btn {
        width: 100%;
        background: transparent;
        border: none;
        border-radius: 0;
    }
}
.hero-collapse-open {
    background: $paleblue;
}
.hero-collapse-close {
    background: $paleblue;
}
