@import 'compass';
@import 'global';

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 9999 !important;

    .navbar-inner {
        border: none;
        padding: 1vw 0 1vw 1vw;
        @include background-image(linear-gradient(left,
            rgba(226, 173, 118, 1),
            rgba(225, 174, 120, 1) 25%,
            rgba(213, 211, 188, 0.45) 50%,
            rgba(206, 214, 191, 0.25) 55%,
            rgba(208, 215, 197, 0.25)
        ));

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
            padding: 0;
        }

        .navbar-form {
            width: 60vw;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                width: 100%;
            }

            .brand, #url, .convert-btn {
                display: block;
                float: left;

                @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                    float: none;
                }
            }

            .brand {
                margin: 0.4vw 1.5vw 0 1vw;
                font-size: 2.5vw;
                text-decoration: none;
                color: #f3f4e4;

                @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                    display:none
                }
            }
            .brand:hover {
                color: #f9f9f9;
            }
            #url {
                width: 28vw;
                padding: 0.7vw 1vw;
                margin: 0.3vw 0.5vw 0 0;
                border: none;
                border-radius: 0;
                font-size: 1.0vw;
                background-color: rgba(255, 255, 255, 0.81);

                @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                    margin: 0;
                    padding: 4rem 2.5%;
                    width: 75%;
                    font-size: 5rem;
                    line-height: 5rem;
                    float: left;
                    color: black;

                    #url::-webkit-input-placeholder {
                        color: $paleblue;
                    }
                }
            }

            .convert-btn {
                padding: 0.22vw 0.8vw;
                margin: 0.3vw 0 0 0;
                font-size: 1.8vw;
                font-family: 'NovecentowideUltraLightBold';
                text-align: center;

                @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                    margin: 0;
                    padding: 1rem 0 1rem;
                    width: 20%;
                    font-size: 8vw;
                    line-height: 12rem;
                    float: left;
                }
            }
        }
        .links {
            float: right;
            margin: 1vw 0 0 0;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                display: none;
            }

            a, a:hover, a:active, a:visited {
                color: $white;
                font-size: 1vw;
            }
            li {
                display: inline;
                margin: 0 1vw;
            }
            #githubLink {
                text-indent: -9999px;
                display: block;
                width: 5vw;
                height: 5vw;
                background: url("../img/icon_git.png")no-repeat 0 0;
                position: absolute;
                top: 1vw;
                right: 0vw;
                background-size: 3.5vw;
                -webkit-transition: all 0.2s ease;
            }
            #githubLink:hover {
                opacity:0.5;
            }
        }
    }
}
