@import 'global';

.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(243, 244, 228);
    z-index: 9999;

    .close-btn {
        font-size: 3vw;
        line-height: 3vw;
        position: absolute;
        top: 3vw;
        right: 3vw;
        margin: -1.5vw;
        font-family: NovecentowideUltraLightBold;
        padding-top: 0.3vw;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
            font-size: 8rem;
            line-height: 8rem;
            top: 5rem;
            right: 5rem;
        }
    }

    .largeQRCode {
        $size: 256px;
        position: absolute;
        width: $size;
        height: $size;
        top: 40%;
        left: 50%;
        margin: -$size/2;
    }

    .largeURL {
        $width: 50%;
        $height: 10vw;
        $fontsize: 2vw;
        position: absolute;
        width: 50%;
        height: $height;
        bottom: 10%;
        left: 50%;
        margin-left: -25%;
        text-align: center;
        word-break: break-all;
        overflow: hidden;
        font-size: $fontsize;
        line-height: $fontsize;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
            font-size: 4rem;
            line-height: 5rem;
        }
    }
}
