@import 'global';

.panels {
    li {
        margin-bottom: 1px;
        height: 10.6vw;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
            height: 20.5rem;
        }
    }
    li:hover .zoom-btn,
    li:hover .clear-btn {
        opacity: 1;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }
    li:nth-child(2n-1) .panel-content {
        background-color: rgba(255, 255, 255, 0.37);
        color: rgb(184, 141, 141);
    }
    li:nth-child(2n-1) .panel-content:hover {
        background-color: #fffff4 !important;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }
    li:nth-child(2n) .panel-content{
        background-color: rgba(255, 255, 255, 0.21);
        color: rgb(0, 0, 0);
    }
    li:nth-child(2n) .panel-content:hover {
        background-color: rgb(255, 255, 255) !important;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }
    li:nth-child(2n-1) .panel-content a {
        text-decoration: none;
        color: #da3610;
    }
    li:nth-child(2n) .panel-content a {
        color: #da3610;
        text-decoration: none;
    }
}

.panel-content {
    height: 8vw;
    padding: 1.3vw 0 1.3vw;
    margin-left: 1.3vw;
    margin-right: 1.3vw;
    overflow: hidden;
    position: relative;

    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
        margin: 0;
        padding: 0 0 0.5rem 0;
        font-size: 2.5rem;
        line-height: 2.5rem;
        height: 20rem;
    }

    .qrcode {
        margin: 0 0 0 1.3vw;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
            margin: 0;
        }

        img, canvas {
            width: 8vw;
            height: 8vw;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                width: 20rem;
                height: 20rem;
            }
        }
    }

    .meta {
        width: 72vw;
        height: 5vw;
        margin: 0 0 0 1vw;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
            width: 52rem;
            height: 10rem;
        }

        h2 {
            font-size: 1.9vw;
            line-height: 2.4vw;
            white-space: nowrap;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            font-family: "Lucida Grande","Lucida Sans Unicode";

            @media only screen and (max-device-width: 568px) {
                font-size: 1.9vw;
                line-height: 2.0vw;
                width:60vw;
            }
            @media only screen and (max-device-width: 320px) {
                font-size: 1.9vw;
                line-height: 2.4vw;
            }
        }
        h2:hover {
            text-decoration: underline;
        }
    }

    .memo {
        width: 76vw;
        height: 3vw;
        margin: -0.3vw 0 0 1vw;

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
            width: 75rem;
            height: 10rem;
        }

        div {
            width: 76vw;
            height: 3vw;
            overflow: hidden;
            font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
            color: rgb(0, 0, 0);
            font-size: 1vw;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                width: 76vw;
                height: 3vw;
                overflow: hidden;
                font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
                color: rgb(0, 0, 0);
                font-size: 1vw;
            }
        }
        textarea {
            width: 74vw;
            height: 2.5vw;
            margin: 0;
            padding: 0.25vw 0.5vw;
            font-size: 1vw;
            line-height: 1vw;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                width: 75rem;
                height: 9rem;
                font-size: 3rem;
                line-height: 3rem;
            }
        }
    }
    .buttons {
        width: 13vw;
        font-family: 'NovecentowideUltraLightBold';

        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
            margin: 0;
            width: 24.2rem;
            float: right;
        }

        .zoom-btn {
            padding: 0.3vw 0.5vw;
            margin-right: 0;
            font-size: 1.5vw;
            line-height: 1.5vw;
            cursor: pointer;
            font-family: 'NovecentowideUltraLightBold';
            position: absolute;
            right: 8vw;
            padding-top: 0.5vw;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                display: none;
            }
        }
        .clear-btn {
            padding: 0.3vw 0.5vw;
            font-size: 1.5vw;
            line-height: 1.5vw;
            cursor: pointer;
            font-family: 'NovecentowideUltraLightBold';
            position: absolute;
            right: 1vw;
            padding-top: 0.5vw;

            @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                opacity: 1;
                margin: 0;
                font-size: 8rem;
                line-height: 9rem;
            }
        }
    }
}
