@import 'compass/reset';

$white: #F3F4E4;
$brown: #B38235;
$brown-hl: #9a4342;
$red: #A61407;
$red-hl: #db716f;
$aqua: #DC3F1C;
$aqua-hl: #4fc2c4;
$lime: #5B0400;
$lime-hl: #6fdba7;
$indigo: #00515C;
$indigo-hl: #6fa3db;

$margin: 16px;

html, body {
    height: 100%;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: $white;
    font-size: 1vw;
}

.small {
    font-size: 0.6vw;
    font-weight: 600;
    padding: 0 2px;
    text-transform: uppercase;
}


.panels li {
    float: left;
}
.panels li:nth-child(5n-4) {
    background-color: $brown;
}
.panels li:nth-child(5n-3) {
    background-color: $red;
}
.panels li:nth-child(5n-2) {
    background-color: $aqua;
}
.panels li:nth-child(5n-1) {
    background-color: $lime;
}
.panels li:nth-child(5n) {
    background-color: $indigo;
}
@media screen and (min-width: 1240px) and (max-width: 1679px) {
}
@media screen and (min-width: 1680px) and (max-width: 1919px) {
}
@media screen and (min-width: 1920px) {
}
.panels li {
    width: 16.6666666%;
    height: 33em;
}
.panel-content {
    margin: 2vw 0 0 2vw;
    color: $white;
    font-size: 15px;
}
.panel-content h2 {
    font-size: 55px;
    font-size: 3vw;
}
.panel-content  .excerpt {
    opacity: 0.6;
    margin: 1vw 1vw 0 0;
    line-height: 23px;
    font-size: 1vw;
}
