@import 'compass/reset';
@import 'global';
@import 'common';
@import 'navbar';
@import 'hero';
@import 'panels';
@import 'overlay';

@import url(http://fonts.googleapis.com/css?family=Sintony:700);

body {
    margin-top: 6vw;
    font-family: 'Sintony', sans-serif;
    background-color: $white;
    font-size: 1vw;
}
button {
    font-family: 'Sintony', sans-serif;
    background: $orange;
    color: $white;
    border: none;
    border-radius: 0;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}
.convert-btn:hover,
.zoom-btn:hover,
.clear-btn:hover,
.close-btn:hover,
.tour-btn:hover {
    background: $orange-hl;
}
.wrapper {
    min-height: 80vh;
}
.container-fluid {
    padding: 0;
}
.footer {
    font-size: 1vw;
    line-height: 1vw;
    color: $black;
    opacity: 0.4;
    text-align: right;
    margin-right: 1vw;
}

@media screen and (min-width: 1240px) and (max-width: 1679px) {
}
@media screen and (min-width: 1680px) and (max-width: 1919px) {
}
@media screen and (min-width: 1920px) {
}
