@import url(http://fonts.googleapis.com/css?family=Sintony:700);
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../../src/assets/style/main.scss */
html, body {
  height: 100%;
}

/* line 22, ../../src/assets/style/main.scss */
body {
  margin: 6vw 0;
  font-family: 'Sintony', sans-serif;
  background-color: #f3f4e4;
  font-size: 1vw;
}

/* line 29, ../../src/assets/style/main.scss */
.small {
  font-weight: 600;
  padding: 0.4vw 0;
  text-transform: uppercase;
}

/* line 35, ../../src/assets/style/main.scss */
.container-fluid {
  padding: 0;
}

/* line 38, ../../src/assets/style/main.scss */
.navbar {
  margin: 0;
  background-color: #00515c;
}

/* line 42, ../../src/assets/style/main.scss */
.navbar-inner {
  background: #00515c;
  border: none;
  padding: 1vw 0 1vw 1vw;
}

/* line 47, ../../src/assets/style/main.scss */
.navbar .brand {
  padding: 0;
  margin: 0 1.5vw 0 1vw;
  font-size: 2.5vw;
  line-height: 4vw;
  text-decoration: none;
  color: #f3f4e4;
}

/* line 55, ../../src/assets/style/main.scss */
.navbar .brand:first-letter {
  font-size: 3vw;
}

/* line 58, ../../src/assets/style/main.scss */
.navbar .brand:hover {
  color: #f9f9f9;
}

/* line 61, ../../src/assets/style/main.scss */
.navbar-form #url {
  width: 30vw;
  height: auto;
  padding: 1vw;
  margin: 0 0.5vw 0 0;
  border: none;
  border-radius: 0;
  font-size: 1.5vw;
  line-height: 1.9vw;
  background-color: #f3f4e4;
}

/* line 72, ../../src/assets/style/main.scss */
.navbar-form #convert {
  height: auto;
  padding: 0.3vw;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 3.2vw;
  line-height: 3.3vw;
  color: #f3f4e4;
  background: #dc3f1c;
  font-family: 'Sintony', sans-serif;
}

/* line 92, ../../src/assets/style/main.scss */
.panels li {
  height: 10vw;
}
/* line 96, ../../src/assets/style/main.scss */
.panels li:hover .zoomBtn,
.panels li:hover .clearBtn {
  opacity: 1;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
/* line 101, ../../src/assets/style/main.scss */
.panels li:nth-child(2n-1) .panel-content {
  background-color: #f3f4e4;
  color: #5b0400;
}
/* line 105, ../../src/assets/style/main.scss */
.panels li:nth-child(2n-1) .panel-content:hover {
  background-color: #fffff4 !important;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
/* line 110, ../../src/assets/style/main.scss */
.panels li:nth-child(2n) .panel-content {
  background-color: #097487;
  color: #f3f4e4;
}
/* line 114, ../../src/assets/style/main.scss */
.panels li:nth-child(2n) .panel-content:hover {
  background-color: #198497 !important;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
/* line 119, ../../src/assets/style/main.scss */
.panels li:nth-child(2n-1) .panel-content a {
  color: #5b0400;
}
/* line 122, ../../src/assets/style/main.scss */
.panels li:nth-child(2n) .panel-content a {
  color: #f3f4e4;
}

/* line 127, ../../src/assets/style/main.scss */
.panel-content {
  width: 100%;
  height: 8vw;
  padding: 1vw 0 1vw;
  font-size: 15px;
}
/* line 133, ../../src/assets/style/main.scss */
.panel-content h2 {
  font-size: 55px;
  font-size: 2vw;
  line-height: 2.4vw;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
/* line 144, ../../src/assets/style/main.scss */
.panel-content .excerpt {
  opacity: 0.6;
  margin: 1vw 1vw 0 0;
  font-size: 1vw;
  line-height: 1.2vw;
}
/* line 150, ../../src/assets/style/main.scss */
.panel-content .qrcode {
  margin: 0 0 0 2vw;
}
/* line 153, ../../src/assets/style/main.scss */
.panel-content .qrcode img, .panel-content .qrcode canvas {
  width: 8vw;
  height: 8vw;
}
/* line 158, ../../src/assets/style/main.scss */
.panel-content .meta {
  width: 76vw;
  height: 5vw;
  margin: 0 0 0 1vw;
}
/* line 163, ../../src/assets/style/main.scss */
.panel-content .memo {
  width: 76vw;
  height: 3vw;
  margin: 0 0 0 1vw;
}
/* line 168, ../../src/assets/style/main.scss */
.panel-content .memo div {
  width: 76vw;
  height: 3vw;
  overflow: scroll;
}
/* line 173, ../../src/assets/style/main.scss */
.panel-content .memo div.empty {
  opacity: 0.4;
}
/* line 176, ../../src/assets/style/main.scss */
.panel-content .memo textarea {
  width: 74vw;
  height: 2.5vw;
  margin: 0;
  padding: 0.25vw 0.5vw;
  font-size: 1vw;
  line-height: 1vw;
}
/* line 186, ../../src/assets/style/main.scss */
.panel-content .buttons {
  width: 10.7vw;
  margin: 0 1vw 0 0;
}
/* line 190, ../../src/assets/style/main.scss */
.panel-content .buttons .zoomBtn {
  opacity: 0;
  padding: 0.2vw 0.3vw;
  margin-right: 0.5vw;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-family: 'Sintony', sans-serif;
  border: none;
  border-radius: 0;
  color: #f3f4e4;
  background: #dc3f1c;
}
/* line 203, ../../src/assets/style/main.scss */
.panel-content .buttons .clearBtn {
  opacity: 0;
  padding: 0.2vw;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-family: 'Sintony', sans-serif;
  border: none;
  border-radius: 0;
  color: #f3f4e4;
  background: #dc3f1c;
}

/* line 218, ../../src/assets/style/main.scss */
.fadein {
  animation: 'fadein' 0.5s ease;
  -webkit-animation: 'fadein' 0.5s ease;
  -moz-animation: 'fadein' 0.5s ease;
  -o-animation: 'fadein' 0.5s ease;
}

@keyframes 'fadein' {
  /* line 224, ../../src/assets/style/main.scss */
  from {
    opacity: 0;
  }

  /* line 224, ../../src/assets/style/main.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes 'fadein' {
  /* line 225, ../../src/assets/style/main.scss */
  from {
    opacity: 0;
  }

  /* line 225, ../../src/assets/style/main.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes 'fadein' {
  /* line 226, ../../src/assets/style/main.scss */
  from {
    opacity: 0;
  }

  /* line 226, ../../src/assets/style/main.scss */
  to {
    opacity: 1;
  }
}

@-o-keyframes 'fadein' {
  /* line 227, ../../src/assets/style/main.scss */
  from {
    opacity: 0;
  }

  /* line 227, ../../src/assets/style/main.scss */
  to {
    opacity: 1;
  }
}

/* line 229, ../../src/assets/style/main.scss */
.collapseOut {
  height: 0 !important;
  opacity: 0;
  overflow: hidden;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
}

/* line 237, ../../src/assets/style/main.scss */
.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f3f4e4;
  z-index: 9999;
}
/* line 245, ../../src/assets/style/main.scss */
.overlay .closeBtn {
  font-size: 3vw;
  line-height: 3vw;
  position: absolute;
  top: 3vw;
  right: 3vw;
  margin: -1.5vw;
  border: none;
  border-radius: 0;
  color: #f3f4e4;
  background: #dc3f1c;
  font-family: 'Sintony', sans-serif;
}
/* line 260, ../../src/assets/style/main.scss */
.overlay .largeQRCode {
  position: absolute;
  width: 256px;
  height: 256px;
  top: 40%;
  left: 50%;
  margin: -128px;
}
/* line 270, ../../src/assets/style/main.scss */
.overlay .largeURL {
  position: absolute;
  width: 50%;
  height: 10vw;
  bottom: 10%;
  left: 50%;
  margin-left: -25%;
  text-align: center;
  word-break: break-all;
  overflow: hidden;
  font-size: 2vw;
  line-height: 2vw;
}
