!!! 5
html
  head
    title The Yard
    link(href='/css/main.css',media='all',rel='stylesheet',type='text/css')
  body
    .div1 The Yard
    .div2 Blog
    .div3 Projects
    .div4 missing
    script(src='http://localhost:35729/livereload.js')
