!!! 5
html
  head
    title The Yard
    link(href='/css/main.css',media='all',rel='stylesheet',type='text/css')
  body
    ul#panels.panels
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
      li
        .panel-content
          .small 14 May 2013
          h1 Dynamic Bezel Lines
          .excerpt
            p Dynamically created bezel lines experiment. Works with text or images with transparency
    script(src='/js/main.js')
    script(src='http://localhost:35729/livereload.js')
